/* call */
.call {
	padding: 100px 0px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	img {
		width: 130px;
	}
	h2 {
		padding: 50px;
	}
}
.call-boton {
	font-size: 15px;
	background-color: $blanco;
	color: $negro;
	border-radius: 25px;
	padding: 10px;
	transition: all 400ms ease;
	animation: boton;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	&:hover {
		background-image: $degrade;
		color: $blanco;
	}
	@keyframes boton{
		0%{ padding: 10px}
		50%{ padding: 12px;}
		100%{ padding: 10px;}
	}
}
