/* call */
.call {
	padding: 100px 0px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	img {
		width: 130px;
	}
	h2 {
		padding: 50px;
	}
}
.call-boton {
	font-size: 15px;
	background-color: $blanco;
	color: $negro;
	border-radius: 25px;
	padding: 10px;
	transition: all 400ms ease;
	&:hover {
		background-image: linear-gradient(45deg, $naranja, $ladrillo);
		color: $blanco;
		padding: 13px;
	}
}
