/* nav */
.bg-negro{
    background-color: $negro;
}
.container-fluid{
    padding: 5px 20px;
}
#progress{
    position: fixed;
    top: 0;
    width: 0%;
    background: $degrade;;
    height: 8px;
    z-index: 100;
    animation: animacion auto linear;
    animation-timeline: scroll(root block);
}

@keyframes animacion{
    from { width: 0%;}
    to {width: 100%;}

}