/* contacto */
.main-contacto {
	@include flex(row, wrap, space-between, 80px);
}
.subtitulo {
	font-size: 60px;
	font-weight: bolder;
}
.contacto {
	width: 500px;
}
form {
	@include flex(column, nowrap, flex-start, 10px);
	padding: 40px;
	background-color: $negro-difuminado;
	height: 450px;
	width: 330px;
	border-radius: 30px;
	button {
		font-size: 15px;
		background-image: $degrade;
		color: $negro;
		border-style: none;
		border-radius: 15px;
		padding: 8px;
		transition: all 400ms ease;
		animation: boton;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		&:hover {
			background-image: $degrade;
			color: $blanco;
		}
		@keyframes boton{
			0%{ padding: 10px}
			50%{ padding: 12px;}
			100%{ padding: 10px;}
		}
	}
}
.label {
	padding-bottom: 5px;
}
.input {
	padding-bottom: 15px;
	width: 250px;
}
input {
	padding: 10px;
	width: 250px;
}
button {
	&:hover {
		background-image: $degrade;
		color: $blanco;
	}
}
