/* home */
.home {
	height: 100vh;
	p {
		font-size: 22px;
		width: 300px;
		line-height: 25px;
		padding-bottom: 40px;
        color: transparent;
		background-image: $degrade;
		background-clip: text;
	}
}
.titulo {
	font-size: 100px;
	font-weight: bold;
	width: 600px;
	padding: 30px 0px;
}
.home-boton {
	font-size: 18px;
	background-color: $blanco;
	color: $negro;
	border-radius: 25px;
	padding: 10px;
	transition: all 400ms ease;
	animation: boton;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	&:hover {
		background-image: $degrade;
		color: $blanco;
	}
	@keyframes boton{
		0%{ padding: 10px}
		50%{ padding: 12px;}
		100%{ padding: 10px;}
	}
}
/* About */
.about-subtitulo {
	font-size: 60px;
	font-weight: bolder;
    color: transparent;
	background-image: $degrade;
    background-clip: text;
}
.about-copete {
	width: 380px;
	font-size: 19px;
	padding: 15px 0px 80px 0px;
}
.about-contenedor {
	@include flex(row, wrap, space-around, 130px);
}
.about-carta {
	@include flex(column, nowrap, flex-start, 5px);
	align-items: center;
	text-align: center;
	background-color: $negro-difuminado;
	padding: 25px;
	width: 220px;
	border-radius: 15px;

	img {
		width: 75px;
		animation: animacion-about linear;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	@keyframes animacion-about{
		0%{ width: 75px;}
		50%{ width: 85px;}
		100%{ width: 75px;}
	}
	h3 {
		font-size: 25px;
		font-weight: 800;
		padding-top: 25px;
		color: transparent;
		background-image: $degrade;
		background-clip: text;
	}
	p {
		color: $blanco;
	}
}
/* spam */
.spam {
	padding: 170px 0px 120px 0px;
	h2 {
		text-align: center;
		font-size: 50px;
		font-weight: bolder;
		padding-bottom: 50px;
        color: transparent;
		background-image: $degrade;
		background-clip: text;
	}
	img {
		width: 500px;
		border-radius: 30px;
	}
}
.spam-contenedor {
	@include flex(row, wrap, center, 30px);
	background-color: $negro-difuminado;
	border-radius: 30px;
	padding: 50px;
}
.spam-contenido {
	@include flex(column, nowrap, flex-start, 5px);
	width: 500px;
	padding: 45px;
	h3 {
		font-size: 40px;
		font-weight: bolder;
	}
	p {
		padding-bottom: 25px;
	}
}
.spam-boton {
	font-size: 18px;
	background-color: $blanco;
	color: $negro;
	border-radius: 25px;
	padding: 10px;
	transition: all 400ms ease;
	animation: boton;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	&:hover {
		background-image: $degrade;
		color: $blanco;
	}
	@keyframes boton{
		0%{ padding: 10px}
		50%{ padding: 12px;}
		100%{ padding: 10px;}
	}
}
/* Información */
.información-subtitulo {
	font-size: 60px;
	font-weight: bolder;
	padding-bottom: 30px;
    color: transparent;
	background-image: $degrade;
    background-clip: text;
    text-align: center;
}
.información-contenedor {
	@include flex(row, wrap, space-around, 50px);
}
.información-carta {
	@include flex(column, nowrap, end, 5px);
	background-color: $negro-difuminado;
	border-radius: 20px;
	width: 250px;
	height: 350px;
	padding: 35px;
	text-align: left;
	transition: all 400ms ease;
	&:hover {
        transform: scale(1.05);
		box-shadow: 10px 10px 15px #000000ad;
	}
	img {
		width: 50px;
		padding-bottom: 80px;
	}
	h3 {
		font-size: 25px;
		color: transparent;
		background-image: $degrade;
		background-clip: text;
		padding-bottom: 10px;
	}
	p {
		padding-bottom: 10px;
	}
}
.informacion-boton {
	font-size: 15px;
	background-color: $blanco;
	color: $negro;
	border-radius: 25px;
	padding: 10px;
	transition: all 400ms ease;
	animation: boton;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	&:hover {
		background-image: $degrade;
		color: $blanco;
	}
	@keyframes boton{
		0%{ padding: 10px}
		50%{ padding: 12px;}
		100%{ padding: 10px;}
	}
}
/* acordion */
.acordion {
	padding-top: 130px;
}
.acordion-boton {
    background-image: $degrade;
}
@media (max-width: 992px) {
	main {
		padding: 70px;
	}
	.titulo {
		width: auto;
	}
	.about-copete {
		width: auto;
	}
}
@media (max-width: 576px) {
	main {
		padding: 30px;
	}
	.titulo {
		width: auto;
		font-size: 65px;
	}
	.home {
		p {
			width: auto;
			font-size: 20px;
		}
	}
}
@media (max-width: 750px) {
	.spam {
		img {
			object-fit: scale-down;
			height: auto;
			width: 100%;
		}
	}
	.spam-contenido {
		padding: 0px;
	}
}