/* servicios */
.servicios {
	p {
		width: 700px;
		font-size: 19px;
		padding-bottom: 35px;
	}
}
.subtitulo {
	font-size: 60px;
	font-weight: bolder;
	color: transparent;
	background-image: $degrade;
	background-clip: text;
}
.serv-contenedor {
	@include flex(row, wrap, space-between, 50px);
}
.serv-carta {
	padding: 30px;
	width: 310px;
	height: 400px;
	border-radius: 30px;
	overflow: hidden;
	background-color: $negro-difuminado;
	transition: all 400ms ease-in-out;
	&:hover {
		transform: translateY(-1%);
		box-shadow: 10px 10px 15px $negro-difuminado;
		height: 900px;
	}
	h2 {
		font-size: 55px;
		padding-bottom: 15px;
	}
	h3 {
		font-size: 18px;
		color: transparent;
		background-image: $degrade;
		background-clip: text;
		font-weight: 800;
		padding-bottom: 15px;
	}
	ul {
		font-size: 20px;
		padding: 25px 0px;
	}
	span {
		font-size: 18px;
		background-color: $blanco;
		color: $negro;
		border-radius: 25px;
		padding: 10px;
		transition: all 400ms ease;
		animation: boton;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		&:hover {
			background-image: $degrade;
			color: $blanco;
		}
		@keyframes boton{
			0%{ padding: 10px}
			50%{ padding: 12px;}
			100%{ padding: 10px;}
		}
	}
}
@media (max-width: 992px) {
	.servicios {
		p {
			width: auto;
		}
	}
}